hr {
  margin-bottom: 10px;
  opacity: 0.2;
  margin-top: 20px;
}

label {
  color: black;
}

.mat-button,
.mat-fab,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button {
  color: white;
}

.mat-form-field,
.mat-input,
.mat-input-element {
  // color: darkgray;
  max-width: 800px;
}

.mat-card-title.short,
.mat-card-content.short {
  max-width: 420px;
}

.mat-form-field.short {
  max-width: 400px;
}

.mat-form-field.shorter {
  max-width: 300px;
}

.mat-form-field.small {
  max-width: 120px;
}

.mat-form-field.medium {
  max-width: 180px;
  margin-right: 6px;
}

.mat-form-field {
  font-size: 14px; // color: black;
}

.mat-form-field.list-column,
.mat-form-field.shorter.list-column,
.mat-form-field.small,
.mat-slide-toggle.list-column {
  margin-right: 4px;
}

.mat-mini-fab .mat-chip.list {
  margin-right: 6px;
}

.mat-chip.list.new-line {
  font-size: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: black;
}

.form-container .company-avatar-large {
  width: 96px;
  height: 96px;
  padding: 4px;
  margin: 4px;
  margin-left: -4px;
  margin-bottom: 10px;
  border: solid 1 whitesmoke;
}

.mat-card-avatar.icon-avatar-large {
  width: 22px;
  height: 22px;
  border-radius: 0px;
  padding: 18px;
  border: solid 1 whitesmoke;
  background: red;
}

.mat-card-avatar.avatar-large {
  height: 64px;
  width: 64px;
  border-radius: 0%;
}

.mat-card-avatar.icon-avatar-large.Custom {
  border: solid 1 whitesmoke;
  background: coral;
}

.mat-card-avatar.icon-avatar-large.Basic {
  border: solid 1 whitesmoke;
  background: cornflowerblue;
}

.form-container .company-avatar-button {
  width: 36px;
  height: 36px;
  position: absolute;
  margin-left: 80px;
}

.form-container .mat-icon {
  // margin-left: -10px;
  margin-top: -2px;
  font-size: 16px;
}

.form-container>* {
  width: 100%;
}

.mat-toolbar.form-toolbar {
  margin-top: 2px;
  opacity: 0.9;
  height: 58px;
}

.material-icons {
  font-size: 22px;
}

button.mat-toolbar.form-toolbar {
  padding-right: 4px;
}

.mat-toolbar-row {
  height: 60px;
}

.fab-icon-link {
  margin-right: 4px;
}

.mat-card-title {
  display: flex;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

label.small {
  font-size: 12px;
  padding-top: 10px;
}

.mat-hint label.small {
  font-size: 12px;
}

label.small.inline {
  padding-top: 0px;
  padding-bottom: 20px;
}

button label.small {
  font-size: 12px;
  color: black;
}

.mat-icon.form-button-icon {
  color: white;
}

.mat-form-field {
  width: 200px
}

.mat-card .doc-type-form {
  width: 300px;
}

// https://github.com/angular/material2/blob/master/src/lib/form-field/_form-field-theme.scss
.document-type-card-form {
  margin-bottom: 10px;
}

button.form-link {
  color: black;
}

a.form-link {
  color: black;
}

.mat-icon.warn-icon {
  background: whitesmoke;
  color: orangered;
}

.mat-card.form-card {
  height: 98%;
  width: 98%;
  max-width: 900px;
  background-color: white;
  color: #1C1D21;
  line-height: 14px;
  opacity: 0.9;
  margin-right: 10px;
}

div.panel-form .mat-card .form-card {
  width: 100%;
  padding: 0; // max-width: 900px;
  background-color: red;
  color: #1C1D21;
  line-height: 14px;
  opacity: 0.9; // margin-right: 10px;
  padding: 4px;
}

.extrasmall {
  font-size: 10px;
}

.line-container {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.line-header-container {
  padding-top: 10px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
}

.line-container-total {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.line-container.even,
.line-header-container.even,
.line-container-total.even {
  background: whitesmoke;
}

.mat-mini-fab.xsmall {
  width: 30px;
  height: 30px;
}

.mat-mini-fab.xsmall .mat-icon {
  margin-left: -10px;
}

.search-icon {
  margin-top: 2px;
  opacity: 0.4;
}

.total-header {
  text-align: center;
  margin-top: -4px;
}

.total-line {
  margin-top: 12px;
  margin-left: 10px;
}

div.total-column {
  height: 100%;
}

label.total,
span.total {
  text-align: right; //margin-top: -4px;
}

span.total-negative,
label.total-negative {
  text-align: right;
  color: orangered;
}

.grand-total {
  text-align: right;
  margin-top: -4px;
  font-size: 16px;
}

.doc-info-panel {
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
  border-left: solid 1 whitesmoke;
  padding: 10px;
  padding-left: 20px;
  margin-top: -4px;
}

.mat-icon.button-icon {
  color: black;
  cursor: pointer;
}

.line-index {
  position: absolute;
  margin-left: -35px;
}

.remove-line-button {
  width: 36px;
  height: 36px;
  margin-left: 20px;
}

.customer-logo {
  float: left;
  width: 64px;
  height: 64px;
  margin-top: 4px;
  margin-right: 6px;
}

.material-icons.size-64 {
  font-size: 64px;
}

.mat-icon.size-64 {
  font-size: 64px;
}

.material-icons.size-128 {
  font-size: 128px;
}

.mat-icon.size-128 {
  font-size: 128px;
}

.mat-card-header-text {
  margin: 0 4px;
}