<mat-card class="document-type-card-form">
  <mat-card-title>
    <label class="small">ΤΥΠΟΣ ΕΓΓΡΑΦΟΥ</label>
    <span class="app-toolbar-filler"></span>
    <button *ngIf='readonly' color="primary" (click)="toggle_edit_mode()" mat-mini-fab>
      <mat-icon class="form-button-icon">edit</mat-icon>
    </button>
    <button *ngIf='readonly && !isnew()' color="warn" (click)="delete()" mat-mini-fab>
      <mat-icon class="form-button-icon">delete_forever</mat-icon>
    </button>
    <button *ngIf='!readonly' (click)="save()" mat-button color="primary">
      <label class="small">ΑΠΟΘΗΚΕΥΣΗ</label>
    </button>
    <button *ngIf='!readonly' (click)="cancel()" mat-button color="warn">
      <label class="small">ΑΚΥΡΩΣΗ</label>
    </button>
  </mat-card-title>
  <mat-card-content>
    <div class="form-container">
      <h3 *ngIf='readonly'>{{model.name}}</h3>
      <mat-form-field *ngIf='!readonly'>
        <input matInput [readonly]='readonly' #name="ngModel" name="name" [(ngModel)]='model.name' placeholder="Ονομασία" floatPlaceholder='auto'
          maxlength="150">
        <mat-hint align="end">{{name.value?.length || 0}}/150</mat-hint>
      </mat-form-field>

      <label *ngIf='readonly'>{{model.notes}}</label>
      <mat-form-field *ngIf='!readonly'>
        <textarea matInput [readonly]='readonly' #notes="ngModel" name="notes" [(ngModel)]='model.notes' placeholder="Περιγραφή"
          floatPlaceholder='auto' maxlength="250"></textarea>
        <mat-hint align="end">{{notes.value?.length || 0}}/250</mat-hint>
      </mat-form-field>

      <label *ngIf='readonly'>Όνομα φακέλου: {{model.data.code}}</label>
      <mat-form-field class="shorter" *ngIf='!readonly'>
        <input matInput [readonly]='readonly' #code="ngModel" name="code" [(ngModel)]='model.data.code' placeholder="Όνομα φακέλου" floatPlaceholder='auto'
          maxlength="150">
        <mat-hint align="end">{{code.value?.length || 0}}/150</mat-hint>
      </mat-form-field>

      <label *ngIf='readonly && !isnew()'>Κατηγορία: {{model.recordTypeText}}</label>
      <mat-form-field class="shorter" *ngIf='!readonly'>
          <mat-select [disabled]='readonly && !isnew()' name="recordType" [(value)]='model.data.recordType' placeholder="Κατηγορία"
          floatPlaceholder='auto'>
              <mat-option value="AccountsReceivable">Έσοδα</mat-option>
              <mat-option value="AccountsPayable">Έξοδα</mat-option>
            </mat-select>          
        <mat-hint align="end"></mat-hint>
      </mat-form-field>

      <label *ngIf='readonly'>Μάσκα αρίθμησης: {{model.data.numberFormat}}</label>
      <mat-form-field class="shorter" *ngIf='!readonly'>
        <input matInput [readonly]='readonly' #numberFormat="ngModel" name="numberFormat" [(ngModel)]='model.data.numberFormat' placeholder="Μάσκα αρίθμησης"
          floatPlaceholder='auto' maxlength="150">
        <mat-hint align="end"></mat-hint>
      </mat-form-field>

      <label *ngIf='readonly'>Αρίθμηση από: {{model.data.numberOffset}} - To επόμενο έγγραφο θα έχει τον αριθμό: {{model.data.numberOffset+1}}</label>
      <mat-form-field class="shorter" *ngIf='!readonly'>
        <input matInput type="number" [readonly]='readonly' #numberOffset="ngModel" name="numberOffset" [(ngModel)]='model.data.numberOffset'
          placeholder="Αρίθμηση από" floatPlaceholder='auto' maxlength="150">
        <mat-hint *ngIf='model.data.numberOffset' align="start">To επόμενο έγγραφο θα έχει τον αριθμό: {{model.data.numberOffset+1}}</mat-hint>
      </mat-form-field>

      <hr/>

      <mat-slide-toggle *ngIf='!readonly' #generatesPrintouts="ngModel" name="generatesPrintouts" [(ngModel)]='model.data.generatesPrintouts'
        placeholder="Παράγει έγγραφα" floatPlaceholder='auto' maxlength="150">
        <label *ngIf="model.data.generatesPrintouts">Να παράγει έγγραφα</label>
        <label *ngIf="!model.generatesPrintouts">Να μην παράγει έγγραφα</label>
      </mat-slide-toggle>

      <mat-hint *ngIf='!readonly' align="start">Ενεργοποιήστε την επιλογή για να παράγονται έγγραφα τύπου microsoft word ή και pdf βάση του παρακάτω προτύπου.
        <br>
      </mat-hint>

      <mat-hint align="start" *ngIf="model.data.generatesPrintouts">
        <div fxLayout="row" fxLayoutAlign="start center" class="download-link-container">
          <a fxFlex="80px" fxFlexAlign="center" [download]='this.model.data.code+"-template.docx"' (click)='download_file($event)' mat-button
            class="download-link">
            <img class="word-logo small">
          </a>
          <div>
            <label *ngIf='!readonly' align="start">Πατήστε στο εικονίδιο για να κατεβάσετε το αρχείο. </label>
            <label *ngIf='readonly && model.data.generatesPrintouts' align="start">Αυτός ο τύπος παράγει εγγραφα τύπου microsoft word ή και pdf. </label>
          </div>
        </div>
      </mat-hint>
      <label *ngIf='readonly && !model.data.generatesPrintouts' align="start">Αυτός ο τύπος
        <strong>δεν</strong> παράγει εγγραφα τύπου microsoft word ή και pdf.</label>
    </div>
  </mat-card-content>
</mat-card>
