<div fxLayout="column">
  <label class="dialog-title">LOGO IMAGE</label>
  <br />
  <img [src]='imagePath' class="image-preview">
  <br />
  <mat-form-field>
    <input matInput [(ngModel)]="imagePath" name='imagePathInput' #imagePathInput placeholder="Image path" floatPlaceholder='auto' maxlength="250">
    <mat-hint align="end">{{imagePathInput.value?.length || 0}}/250</mat-hint>
  </mat-form-field>
  <br />
  <hr />
  <span>
    <button mat-button (click)='ok($event)'>OK</button>
    <button mat-button (click)='cancel($event)'>Cancel</button>
  </span>
</div>
