.mat-card.mat-card-account {
  padding-top: 20px;
  background: none;
  color: black;
}

.action-card {
  height: 90%;
  width: 98%;
  background-color: white;
  color: #1C1D21;
  line-height: 14px;
  opacity: 0.9;
  padding-right: 4px;
}

.fab-icon-link {
  margin-right: 4px;
}


.mat-list-item.mat-multi-line .mat-list-item-content,
.mat-selection-list .mat-list-item.mat-multi-line .mat-list-item-content {
  height: 100%;
  width: 100%;
  padding: 16px;
}

.mat-list .mat-list-item .mat-list-avatar,
.mat-nav-list .mat-list-item .mat-list-avatar,
.mat-selection-list .mat-list-item .mat-list-avatar {
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  border-radius: 0%;
}

.list-company-avatar {
  border-radius: 0%;
  width: 64px;
  height: 64px;
}

.panel-icon {
  font-size: 36px;
  padding-right: 8px;
}

.action-card .mat-card-subtitle {
  color: #1C1D21;
  font-size: 16px;
  opacity: 0.9;
}

.subscription-list-item {
  //display: flex;
  margin: 4px;
  background: whitesmoke;
  padding: 10px;
  color: #1C1D21;
  font-size: 16px;
  opacity: 0.8;
  width: 96%;
}

.inline-subtitle {
  padding-left: 4px;
  font-size: 12px;
}

.action-badge {
  position: absolute;
  color: rgba(233, 30, 99, 1);
  margin-top: -72px;
  font-size: 48px;
  margin-left: 230px;
  opacity: 0.65;
}

.action-badge.red {
  color: #EB4A42;
}

.action-badge.blue {
  color: #35A7FF;
}

.action-badge.green {
  color: #44CD7D;
}

.action-badge.teal {
  color: #20BBAF;
}

.action-button {
  width: 120px;
  height: 120px;
}

.mat-card-subtitle {
  font-size: 14px;
  padding-top: 12px;
  height: 44px;
  line-height: 16px;
  overflow: hidden;
}

.folder-count-badge {
  background-color: #FA646E;
  color: white;
  position: absolute;
  opacity: 0.98;
  margin-left: 20px;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
}

p.folder-count {
  font-size: 12px;
  color: white;
  text-align: center;
}

.mat-card-avatar.user-avatar-large {
  // filter: grayscale(96%);
  height: 64px;
  width: 64px;
  border-radius: 0%;
}

.label-small {
  font-size: 12px;
  opacity: 0.8;
}

.mat-card-avatar.red {
  background-color: #EB4A42;
}

.mat-card-avatar.blue {
  background-color: #35A7FF;
}

.mat-card-avatar.green {
  background-color: #44CD7D;
}

.mat-card-avatar.teal {
  background-color: #20BBAF;
}

.mat-card-avatar.accent {
  background-color: #EB4A42;
}

.mat-card-avatar.primary {
  background-color: accent;
}

.material-icons.size-64 {
  font-size: 64px;
}

.powerbi {
  color: orange;
}

.mat-card-title {
  margin-top: 12px;
}

.mat-tab.mat-grid-list {
  margin-top: -20px;
}
