<div fxLayout="column" fxLayoutAlign="space-around center">
  <div *ngFor="let subscription of subscriptions">
    <button mat-button class="subscription-button" (click)="selectSubscription(subscription)">
      <div fxLayout="row">
        <div fxFlex="80px" fxFlexAlign="center">
          <img class="company-avatar-64" src="{{subscription.companyLogo}}" alt="{{subscription.id}}">
        </div>
        <div fxFlex="250px" fxFlexAlign="center">
          <div class="subscription-info">
            <label class="small">{{subscription.company.name}} ({{subscription.company.legalName}})</label>
          </div>
          <div>
            <label class="small">{{subscription.contact.firstName}} {{subscription.contact.lastName}}</label>
          </div>
          <div>
            <label class="small">{{subscription.contact.email}} </label>
          </div>
        </div>
        <!-- <div fxFlex="40px" fxFlexAlign="center">
        <mat-icon>screen_share</mat-icon>
      </div> -->
      </div>
    </button>
    <mat-divider></mat-divider>
  </div>
</div>
