.mat-card {
  width: 510px;
  background: white;
}

.action-card {
  height: 96%;
  width: 98%;
  background-color: white;
  color: #1C1D21;
  /* line-height: 14px; */
  opacity: 0.9;
}

.fab-icon-link {
  margin-right: 4px;
}

.list-container {
  display: flex;
  /* height: 96%; */
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
}

.mat-list {
  width:100%;
}

.mat-list-item.mat-multi-line .mat-list-item-content,
.mat-selection-list .mat-list-item.mat-multi-line .mat-list-item-content {
  height: 100%;
  width: 100%;
  padding: 16px;
}

.mat-list .mat-list-item .mat-list-avatar,
.mat-nav-list .mat-list-item .mat-list-avatar,
.mat-selection-list .mat-list-item .mat-list-avatar {
  /* flex-shrink: 0; */
  width: 64px;
  height: 64px;
  border-radius: 0%;
}

.list-company-avatar {
  border-radius: 0%;
  width: 64px;
  height: 64px;
}

.panel-icon {
  font-size: 36px;
  padding-right: 8px;
}

.action-card .mat-card-subtitle {
  color: #1C1D21;
  font-size: 16px;
  opacity: 0.8;
}

.subscription-list-item {
  display: flex;
  margin: 4px;
  background: whitesmoke;
  padding-bottom: 10px;
  color: #1C1D21;
  font-size: 16px;
  opacity: 0.8;
  width: 100%;
}

.action-button {
  width: 120px;
  height: 120px;
}

.mat-card-subtitle {
  font-size: 14px;
  padding-top: 12px;
  height: 44px;
  line-height: 16px;
  overflow: hidden;
}

.mat-card-avatar.user-avatar-large {
  /* filter: grayscale(96%); */
  height: 64px;
  width: 64px;
  border-radius: 0%;
}

.label-small {
  font-size: 12px;
  opacity: 0.8;
}
