<mat-toolbar class="view-header mat-elevation-z1">
  <span class="title">{{documentType?.folder | uppercase}} \ {{ model?.displayName | uppercase }}</span>
  <!-- This fills the remaining space of the current row -->
  <span class="app-toolbar-filler"></span>

  <!-- <button (click)="add_new()" mat-button>NEO ΠΑΡΑΣΤΑΤΙΚΟ</button>

  <label class="divider" *ngIf="!starthere">|</label>
  <button *ngIf="!starthere" (click)="toggleInfoPanel()" mat-icon-button>
    <mat-icon>info_outline</mat-icon>
  </button> -->
  <span class="app-toolbar-right-filler"></span>
</mat-toolbar>

<div class="view-content">
  <div fxLayout="row" *ngIf="!starthere">
    <div fxFlex>
      <mat-toolbar>

        <!-- <button mat-icon-button (click)="save()" [disabled]="!cansave()">
          <mat-icon>save</mat-icon> ΑΠΟΘΗΚΕΥΣΗ
        </button>
        <button mat-icon-button (click)="cancel()" *ngIf="cancancel()">
          <mat-icon>close</mat-icon>
        </button> -->

        <span class="app-toolbar-filler"></span>
        <span class="app-toolbar-right-filler"></span>
      </mat-toolbar>

    </div>
  </div>

</div>
