<mat-toolbar class="view-header mat-elevation-z1" *ngIf="vm">
  <span class="title">{{documentType?.folder | uppercase}} \
    <strong> {{documentType?.name | uppercase}} {{ vm?.displayName | uppercase }}</strong>
  </span>
  <!-- This fills the remaining space of the current row -->
  <span class="app-toolbar-filler"></span>
  <button (click)="togglePanel()" mat-icon-button>
    <mat-icon color="warn">info_outline</mat-icon>
  </button>
  <span class="app-toolbar-right-filler"></span>
</mat-toolbar>

<div class="view-content" *ngIf="vm">
  <div fxLayout="row">
    <div fxFlex>
      <form type="submit" #companyForm="ngForm">
        <mat-card class="form-card">
          <mat-card-title>
            <label class="small">
              <strong>{{documentType?.name | uppercase}} {{vm?.displayName}}</strong>
            </label>
            <span class="app-toolbar-filler"></span>
            <button *ngIf='readonly' color="primary" (click)="toggle_edit_mode()" mat-mini-fab>
              <mat-icon class="form-button-icon">edit</mat-icon>
            </button>
            <button *ngIf='!readonly' (click)="save()" mat-button color="primary">
              <label class="small">ΑΠΟΘΗΚΕΥΣΗ</label>
            </button>
            <button *ngIf='!readonly' (click)="cancel()" mat-button color="warn">
              <label class="small">ΑΚΥΡΩΣΗ</label>
            </button>
          </mat-card-title>

          <mat-card-content>
            <div class="form-container" fxLayout="row" fxLayoutAlign="start center">
              <!-- https://material.angular.io/components/datepicker/examples -->
              <mat-form-field class="medium" floatLabel='auto'>
                <input matInput [matDatepicker]="datepicker" [readonly]='readonly' [formControl]="invoicedate" (dateChange)='dateChanged($event)'
                  placeholder="Ημερομηνία">
                <mat-datepicker-toggle matSuffix *ngIf="!readonly" [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="medium" floatLabel='auto'>
                <input matInput [matDatepicker]="duedatepicker" [readonly]='readonly' (dateChange)='duedateChanged($event)' [formControl]='invoicedueDate'
                  placeholder="Ημερομηνία πληρωμής">
                <mat-datepicker-toggle matSuffix *ngIf="!readonly" [for]="duedatepicker"></mat-datepicker-toggle>
                <mat-datepicker #duedatepicker></mat-datepicker>
              </mat-form-field>

              <mat-form-field floatLabel='auto' class="shorter">

                <input mat-input [readonly]='readonly' [formControl]="searchCurrencyControl" name="currencyfilter" matInput type="text" maxlength="30"
                  [matAutocomplete]="autocurrency">
                <mat-placeholder>
                  <mat-icon *ngIf='!readonly' matPrefix class="search-icon">search</mat-icon>&nbsp;Νόμισμα
                </mat-placeholder>
                <mat-autocomplete #autocurrency="matAutocomplete" (optionSelected)="currencyChanged($event)" [displayWith]="displayCurrencyFn">
                  <mat-option *ngFor="let currency of filteredcurrencies" [value]="currency">
                    <label class="small">{{ currency.description }}</label>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </mat-card-content>

          <mat-card-title class="short">
            <label class="small">ΠΕΛΑΤΗΣ</label>
            <span class="app-toolbar-filler"></span>
          </mat-card-title>

          <mat-card-content class="short">
            <div class="form-container">

              <span *ngIf='!readonly'>
                <mat-form-field floatPlaceholder='never' class="shorter">
                  <mat-icon matPrefix class="search-icon">search</mat-icon>
                  <input mat-input [formControl]="searchCompanyControl" name="filter" matInput type="text" placeholder="αναζήτηση επιχείρησης"
                    maxlength="300" [matAutocomplete]="autocompany">
                  <mat-autocomplete #autocompany="matAutocomplete" (optionSelected)="companyChanged($event)" [displayWith]="displayCompanyFn">
                    <mat-option *ngFor="let company of filteredcompanies" [value]="company">
                      <label class="small">{{ company.name }}</label>
                      <small>{{ company.legalName }}</small>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <label class="small">&nbsp;&nbsp;&nbsp;&nbsp;ή</label>
                <button mat-button (click)="toggleCompanyPanel(true)" color="primary">
                  <label class="small">ΝΕΟΣ ΠΕΛΑΤΗΣ</label>
                </button>
              </span>
              <ng-container *ngIf="company.name">
                <a (click)="toggleCompanyPanel()">
                  <img class="customer-logo" [src]="companyLogo">
                  <div>
                    <label>{{company.name}}, {{company.legalName}}</label>
                    <br>
                    <label>{{company.taxCode}}, {{company.taxOffice}}</label>
                    <br>
                    <label>{{company.lineOfBusiness}}</label>
                    <br>
                    <label>{{company.address.line1}}</label>
                    <br>
                    <label>{{company.address.zipCode}}, {{company.address.city}}, {{company.address.countryCode}}</label>
                  </div>
                </a>
              </ng-container>
            </div>
          </mat-card-content>

          <mat-card-title>
            <label class="small">ΠΡΟΪΟΝΤΑ \ ΥΠΗΡΕΣΙΕΣ</label>
            <span class="app-toolbar-filler"></span>
            <button *ngIf='!readonly' (click)="addline()" mat-button color="primary">
              <label class="small">ΠΡΟΣΘΗΚΗ</label>
            </button>
          </mat-card-title>

          <mat-card-content>
            <div class="form-container">
              <label *ngIf="readonly && (!model.lines || model.lines.length==0)">Δεν έχουν οριστεί προιόντα ή υπηρεσίες</label>
              <ng-container>

                <!-- LINES -->
                <ng-container *ngFor="let line of vm?.lines; let i = index">

                  <div class="line-container" [ngClass]="{'even':isEven(i)}" fxLayout="row" fxLayoutAlign="start stretch">

                    <div class="line-index">
                      <mat-chip-list>
                        <mat-chip>{{i+1}}</mat-chip>
                      </mat-chip-list>
                    </div>

                    <!-- main info - separated in to two lines -->
                    <!-- line 1 is product lookup and line 2 is the description and taxes ? -->

                    <div fxFlex fxLayout="column" fxLayoutAlign="space-between none">
                      <!-- line 1 -->
                      <div fxLayout="row" fxLayoutAlign="space-between center">
                        <mat-form-field class="list-column" fxFlex floatPlaceholder='auto'>
                          <!-- <mat-icon *ngIf="!readonly" matPrefix class="search-icon">search</mat-icon>
                            <input autocomplete="off" [readonly]="readonly" matInput #lineproductname="ngModel" name="lineproductname-{{i}}" [(ngModel)]='line.productName'
                              placeholder="προϊόν ή υπηρεσία"> -->
                          <mat-select [compareWith]="line.productComparer" [disabled]='readonly' [(value)]='line.product' placeholder="προϊόν ή υπηρεσία">
                            <mat-option *ngFor='let product of products' [value]="product">{{product.name}}</mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field class="list-column" fxFlex="120px" floatPlaceholder='auto'>
                          <input autocomplete="off" matInput [readonly]="readonly" type="number" #lineunitAmount="ngModel" name="lineunitAmount-{{i}}"
                            [(ngModel)]='line.unitAmount' placeholder="αξία">
                          <span matSuffix class="extrasmall">{{model.currencyCode}}</span>
                        </mat-form-field>

                        <mat-form-field class="list-column" fxFlex="60px" floatPlaceholder='auto'>
                          <input autocomplete="off" matInput [readonly]="readonly" type="number" #linequantity="ngModel" name="linequantity-{{i}}"
                            [(ngModel)]='line.quantity' placeholder="ποσότητα">
                        </mat-form-field>

                        <mat-form-field class="list-column" fxFlex="60px" floatPlaceholder='auto'>
                          <input autocomplete="off" matInput [readonly]="readonly" type="number" #linediscount="ngModel" name="linediscount-{{i}}"
                            [(ngModel)]='line.discountRate' placeholder="έκπτωση">
                          <span matSuffix class="extrasmall">%</span>
                        </mat-form-field>

                        <div fxFlex="120px">
                          <span fxFlex class="total">
                            <strong>{{line.subTotal | currency:model.currencyCode:true}}</strong>
                          </span>
                        </div>

                      </div>
                      <!-- line 2 -->
                      <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field fxFlex class="list-column" floatPlaceholder='auto'>
                          <textarea [readonly]="readonly" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="5" matInput #linedescription="ngModel"
                            name="linedescription-{{i}}" [(ngModel)]='line.model.description' placeholder="περιγραφή" maxlength="500"></textarea>
                          <mat-hint *ngIf="!readonly" align="end">{{line.model.description?.length || 0}}/500</mat-hint>
                        </mat-form-field>

                        <mat-form-field class="list-column" fxFlex="250px" floatPlaceholder='auto'>
                          <input autocomplete="off" matInput [readonly]="true" type="text" #linesalestaxes="ngModel" name="linesalestaxes-{{i}}" [(ngModel)]='line.salesTaxesLabel'
                            placeholder="ΦΠΑ">
                          <mat-icon *ngIf="!readonly" (click)="toggleTaxEditPanel(line)" matSuffix class="button-icon">edit</mat-icon>
                        </mat-form-field>

                        <div fxFlex="120px" class="total-column" fxLayout="row" fxLayoutAlign="end center">
                          <label class="total">{{line.totalSalesTax | currency:model.currencyCode:true}}</label>
                        </div>
                      </div>

                      <!-- line 3 -->
                      <div *ngIf="line.hasNonSalesTaxes" fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field class="list-column" fxFlex floatPlaceholder='auto'>
                          <input autocomplete="off" matInput [readonly]="true" type="text" #linenonsalestaxes="ngModel" name="linenonsalestaxes-{{i}}"
                            [(ngModel)]='line.nonSalesTaxesLabel' placeholder="Παρακρατήσεις, εισφορές">
                          <mat-icon *ngIf="!readonly" (click)="toggleTaxEditPanel(line)" matSuffix class="button-icon">edit</mat-icon>
                        </mat-form-field>
                        <div fxFlex="120px" class="total-column" fxLayout="row" fxLayoutAlign="end center">
                          <label class="total-negative">{{line.totalTax | currency:model.currencyCode:true}}</label>
                        </div>
                      </div>
                    </div>

                    <div fxFlex="20px" fxFlexAlign="center" *ngIf="!readonly">
                      <button mat-mini-fab class="remove-line-button" color="warn" (click)="removeline(i)">
                        <mat-icon>delete_forever</mat-icon>
                      </button>
                    </div>

                  </div>

                  <mat-divider></mat-divider>
                </ng-container>
                <br>
                <!-- TOTALS -->
                <ng-container *ngIf="(model.lines && model.lines.length>0)">
                  <div class="line-container-total">
                    <div fxFlex="30px"></div>
                    <div fxFlex></div>
                    <div class="total">ΣΥΝΟΛΟ ΑΞΙΑΣ:</div>
                    <div fxFlex="120px">
                      <span fxFlex class="total">{{model.subTotal | currency:model.currencyCode:true}}</span>
                    </div>
                  </div>
                  <div class="line-container-total">
                    <div fxFlex="30px"></div>
                    <div fxFlex></div>
                    <div class="total">ΦΠΑ:</div>
                    <div fxFlex="120px">
                      <span fxFlex class="total">{{model.totalSalesTax | currency:model.currencyCode:true}}</span>
                    </div>
                  </div>
                  <div class="line-container-total">
                    <div fxFlex="30px"></div>
                    <div fxFlex></div>
                    <div class="grand-total">
                      <strong>ΣΥΝΟΛΟ:</strong>
                    </div>
                    <div fxFlex="120px">
                      <span fxFlex class="grand-total">
                        <strong>{{model.total | currency:model.currencyCode:true}}</strong>
                      </span>
                    </div>
                  </div>
                  <div class="line-container-total">
                    <mat-divider></mat-divider>
                  </div>
                  <div class="line-container-total" *ngFor="let tax of vm.nonSalesTaxes; let i = index">
                    <div fxFlex="30px"></div>
                    <div fxFlex></div>
                    <div class="total">{{tax.name}}</div>
                    <div fxFlex="120px">
                      <span fxFlex class="total">
                        <label class="total-negative">
                          {{tax.amount | currency:model.currencyCode:true}}
                        </label>
                      </span>
                    </div>
                  </div>
                  <div class="line-container-total">
                    <div fxFlex="30px"></div>
                    <div fxFlex></div>
                    <div class="total">
                      <strong>ΠΛΗΡΩΤΕΟ:</strong>
                    </div>
                    <div fxFlex="120px">
                      <span fxFlex class="total">
                        <strong>{{model.totalPayable | currency:model.currencyCode:true}}</strong>
                      </span>
                    </div>
                  </div>
                </ng-container>

              </ng-container>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
    <div fxFlex="400px" fxLayoutAlign="start stretch" fxShow fxHide.lt-md class="doc-info-panel" *ngIf="showPane">
      <div class="panel-form" *ngIf="showAddCompany">
        <h2>ΣΤΟΙΧΕΙΑ ΕΠΙΧΕΙΡΗΣΗΣ</h2>
        <app-company-form title="" [(readonly)]="readonly" [(model)]="company"></app-company-form>
      </div>
    </div>
  </div>
</div>
