<mat-toolbar class="view-header mat-elevation-z1">
  <span class="title">{{documentType?.folder | uppercase}} \ {{documentType?.name | uppercase}} {{ vm?.displayName | uppercase }}</span>
  <!-- This fills the remaining space of the current row -->
  <span class="app-toolbar-filler"></span>

  <!-- <button (click)="add_new()" mat-button>NEO ΠΑΡΑΣΤΑΤΙΚΟ</button>

  <label class="divider" *ngIf="!starthere">|</label>
  <button *ngIf="!starthere" (click)="toggleInfoPanel()" mat-icon-button>
    <mat-icon>info_outline</mat-icon>
  </button> -->
  <span class="app-toolbar-right-filler"></span>
</mat-toolbar>

<div class="view-content">
  <div fxLayout="row">
    <div fxFlex>
      <mat-toolbar *ngIf="!readonly">

        <button mat-button (click)="save()">
          <label class="small">ΑΠΟΘΗΚΕΥΣΗ </label>
        </button>
        <button mat-button (click)="cancel()">
            <label class="small">ΑΚΥΡΩΣΗ</label>
        </button>

        <span class="app-toolbar-filler"></span>
        <span class="app-toolbar-right-filler"></span>
      </mat-toolbar>

      <form type="submit" #companyForm="ngForm">
        <mat-card class="form-card">
          <h3 *ngIf='readonly'>{{vm?.displayName}}</h3>

          <mat-card-title>
            <label class="small">ΣΤΟΙΧΕΙΑ ΠΕΛΑΤΗ</label>
          </mat-card-title>

          <mat-card-content>
            <div class="form-container">
              <mat-form-field *ngIf='!readonly' floatPlaceholder='never' class="short">
                <input class="short" matInput [readonly]='readonly' #name="ngModel" name="name" 
                [(ngModel)]='company.name' placeholder="Ονομασία (Διακριτικός τίτλος)"
                  maxlength="150">
              </mat-form-field>

              <label *ngIf='readonly'>{{company.taxCode}}</label>
              <mat-form-field *ngIf='!readonly' class="short" floatPlaceholder='never'>
                <input matInput [readonly]='readonly' #taxcode="ngModel" name="taxcode" 
                [(ngModel)]='company.taxCode' placeholder="ΑΦΜ" floatPlaceholder='auto'
                  maxlength="50">
                <!-- <mat-hint align="end">{{taxcode.value?.length || 0}}/50</mat-hint> -->
              </mat-form-field>

              <label *ngIf='readonly'>{{company.taxOffice}}</label>
              <mat-form-field *ngIf='!readonly' class="short" floatPlaceholder='never'>
                <input matInput [readonly]='readonly' #taxoffice="ngModel" name="taxoffice" [(ngModel)]='company.taxOffice' placeholder="ΔΟΥ"
                  floatPlaceholder='auto' maxlength="150">
                <!-- <mat-hint align="end">{{taxoffice.value?.length || 0}}/150</mat-hint> -->
              </mat-form-field>

              <label *ngIf='readonly'>{{company.lineOfBusiness}}</label>
              <mat-form-field *ngIf='!readonly' class="short" floatPlaceholder='never'>
                <input matInput [readonly]='readonly' #lineofbusiness="ngModel" name="lineofbusiness" [(ngModel)]='company.lineOfBusiness'
                  placeholder="Επάγγελμα, δραστηριότητα" floatPlaceholder='auto' maxlength="150">
                <!-- <mat-hint align="end">{{lineofbusiness.value?.length || 0}}/150</mat-hint> -->
              </mat-form-field>


              <mat-form-field *ngIf='!readonly' class="short" floatPlaceholder='never'>
                <input matInput [readonly]='readonly' #address1="ngModel" name="address1" [(ngModel)]='company.address.name' placeholder="Διεύθυνση #1"
                  floatPlaceholder='auto' maxlength="150">
                <!-- <mat-hint align="end">{{address1.value?.length || 0}}/150</mat-hint> -->
              </mat-form-field>


              <label *ngIf='readonly'>{{company.address.zipCode}}</label>
              <mat-form-field *ngIf='!readonly' class="short" floatPlaceholder='never'>
                <input matInput [readonly]='readonly' #zipCode="ngModel" name="zipCode" [(ngModel)]='company.address.zipCode' placeholder="ΤΚ"
                  floatPlaceholder='auto' maxlength="150">
                <!-- <mat-hint align="end">{{zipCode.value?.length || 0}}/150</mat-hint> -->
              </mat-form-field>

              <label *ngIf='readonly'>{{company.address.city}}</label>
              <mat-form-field *ngIf='!readonly' class="short" floatPlaceholder='never'>
                <input matInput [readonly]='readonly' #city="ngModel" name="city" [(ngModel)]='company.address.city' placeholder="Πόλη" floatPlaceholder='auto'
                  maxlength="150">
                <!-- <mat-hint align="end">{{city.value?.length || 0}}/150</mat-hint> -->
              </mat-form-field>

              <label *ngIf='readonly'>{{company.address.countryCode}}</label>
              <mat-form-field *ngIf='!readonly' class="short" floatPlaceholder='auto' name="country" #country>
                <mat-select [disabled]='readonly' name="country" #currency="ngModel" [(ngModel)]='company.address.countryCode' placeholder="Χώρα">
                  <!-- <mat-option *ngFor='let country of countries' [value]="country.id">{{country.description}}</mat-option> -->
                </mat-select>
              </mat-form-field>

            </div>
          </mat-card-content>
          <mat-card-title>
            <label class="small inline">ΠΡΟΪΟΝΤΑ \ ΥΠΗΡΕΣΙΕΣ</label>
          </mat-card-title>
          <mat-card-content>
            <div class="form-container">
              <!-- <label *ngIf='readonly'>{{company.address.name}}</label>
              <mat-form-field *ngIf='!readonly'>
                <input matInput [readonly]='readonly' #address1="ngModel" name="address1" [(ngModel)]='company.address.name' placeholder="Διεύθυνση #1"
                  floatPlaceholder='auto' maxlength="150">
                <mat-hint align="end">{{address1.value?.length || 0}}/150</mat-hint>
              </mat-form-field>

              <label *ngIf='readonly'>{{company.address.line1}}</label>
              <mat-form-field *ngIf='!readonly'>
                <input matInput [readonly]='readonly' #address2="ngModel" name="address2" [(ngModel)]='company.address.line1' placeholder="Διεύθυνση #2"
                  floatPlaceholder='auto' maxlength="150">
                <mat-hint align="end">{{address2.value?.length || 0}}/150</mat-hint>
              </mat-form-field>

              <label *ngIf='readonly'>{{company.address.zipCode}}</label>
              <mat-form-field *ngIf='!readonly' class="short">
                <input matInput [readonly]='readonly' #zipCode="ngModel" name="zipCode" [(ngModel)]='company.address.zipCode' placeholder="ΤΚ"
                  floatPlaceholder='auto' maxlength="150">
                <mat-hint align="end">{{zipCode.value?.length || 0}}/150</mat-hint>
              </mat-form-field>

              <label *ngIf='readonly'>{{company.address.city}}</label>
              <mat-form-field *ngIf='!readonly'>
                <input matInput [readonly]='readonly' #city="ngModel" name="city" [(ngModel)]='company.address.city' placeholder="Πόλη"
                  floatPlaceholder='auto' maxlength="150">
                <mat-hint align="end">{{city.value?.length || 0}}/150</mat-hint>
              </mat-form-field>

              <label *ngIf='readonly'>{{company.address.countryCode}}</label>
              <mat-form-field *ngIf='!readonly' class="short" floatPlaceholder='auto' name="country" #country>
                <mat-select [disabled]='readonly' name="country" #currency="ngModel" [(ngModel)]='company.address.countryCode' placeholder="Χώρα">
                  <mat-option *ngFor='let country of countries' [value]="country.id">{{country.description}}</mat-option>
                </mat-select>
              </mat-form-field> -->
            </div>

          </mat-card-content>
        </mat-card>
      </form>

    </div>
  </div>

</div>
