<mat-toolbar class="view-header">
  <!-- <img mat-card-avatar class="company-avatar" src="assets/images/indice-round.jpg" /> -->
  <span class="title">&nbsp;INDICE</span>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <!-- <span class="caption">Δευτέρα 11/10/2017</span> -->
</mat-toolbar>

<div class="view-content">
  <mat-grid-list [cols]="columns" rowHeight="280" gutterSize="5">
    <mat-grid-tile>
      <mat-card class="action-card mat-elevation-z6">
        <mat-card-content>
          <mat-card-title>
            Τιμολόγια
          </mat-card-title>
          <mat-icon class="size-64">folder</mat-icon>
          <span mat-card-avatar class="folder-count-badge accent">
            <p class="folder-count">120</p>
          </span>
          <mat-card-subtitle>ΤΠΥ: Τιμολόγια παροχής υπηρεσιών.</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>
            <mat-icon>search</mat-icon>
            <label>Αναζήτηση</label>
          </button>
          <button mat-button>
            <mat-icon>add_circle</mat-icon>
            <label>Προσθήκη</label>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="action-card  mat-elevation-z6">
        <mat-card-content>
          <mat-card-title>
            Αποδείξεις
          </mat-card-title>
          <mat-icon class="size-64">folder</mat-icon>
          <span mat-card-avatar class="folder-count-badge accent">
            <p class="folder-count">80</p>
          </span>
          <mat-card-subtitle>ΑΠΥ: Αποδείξεις παροχής υπηρεσιών.</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>
            <mat-icon>search</mat-icon> Αναζήτηση
          </button>
          <button mat-button>
            <mat-icon>add_circle</mat-icon> Προσθήκη
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="action-card  mat-elevation-z6">
        <mat-card-content>
          <mat-card-title>
            Συνεργάτες
          </mat-card-title>
          <mat-icon class="size-64">contacts</mat-icon>
          <span mat-card-avatar class="folder-count-badge accent">
            <p class="folder-count">60</p>
          </span>
          <mat-card-subtitle>Ευρετήριο συνεργατών : πελάτες, προμηθευτές και επαφές.</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>
            <mat-icon>search</mat-icon> Αναζήτηση
          </button>
          <button mat-button>
            <mat-icon>add_circle</mat-icon> Προσθήκη
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="action-card  mat-elevation-z6">
        <mat-card-content>
          <mat-card-title>
            Power BI
          </mat-card-title>
          <mat-icon class="size-64 powerbi">insert_chart</mat-icon>
          <mat-card-subtitle>Go from data to insights in minutes.</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>
            <mat-icon>insert_chart</mat-icon> Ξεκινήστε εδώ!
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="action-card  mat-elevation-z6">
        <mat-card-content>
          <mat-card-title>
            Ιστορικό
          </mat-card-title>
          <mat-icon class="size-64">update</mat-icon>
          <mat-card-subtitle>Αναζητήστε στο ιστορικό ενεργειών.</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button routerLink="/app/history" routerLinkActive="active-route">
            <mat-icon>search</mat-icon> Αναζήτηση
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="action-card  mat-elevation-z6">
        <mat-card-content>
          <mat-card-title>
            Ρυθμίσεις
          </mat-card-title>
          <mat-icon class="size-64">settings</mat-icon>
          <mat-card-subtitle>Ρυθμίσεις του λογαριασμού σας</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button routerLink="/app/settings" routerLinkActive="active-route">
            <mat-icon>settings</mat-icon> Ξεκινήστε εδώ!
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="action-card  mat-elevation-z6">
        <mat-card-content>
          <mat-card-title>
            Εφαρμογές
          </mat-card-title>
          <mat-icon class="size-64">widgets</mat-icon>
          <mat-card-subtitle>Προσθήκη λειτουργικότητας και διασυνδέσεων</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button routerLink="/app/store" routerLinkActive="active-route">
            <mat-icon>widgets</mat-icon> Ξεκινήστε εδώ!
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
