<mat-toolbar class="view-header">
  <img mat-card-avatar class="company-avatar mat-elevation-z3" [src]='subscription?.company_logo' />
  <span class="title">&nbsp;{{subscription?.company?.name}}</span>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <!-- <span class="caption">Δευτέρα 11/10/2017</span> -->
</mat-toolbar>

<div class="view-content">
  <mat-grid-list [cols]="columns" rowHeight="340" gutterSize="10">
    <mat-grid-tile *ngFor="let doc of document_types">
      <mat-card class="action-card">
        <mat-card-header>
          <mat-card-title class="action-card-title">
            {{doc.folder}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="min-height">
          <!-- <mat-icon color="primary" class="size-64">folder</mat-icon> -->
          <!-- <span mat-card-avatar class="folder-count-badge accent">
            <p class="folder-count">{{doc.count}}</p>
          </span> -->
          <img src="assets/images/donut.png" class="chart">
          <mat-card-subtitle>{{doc.notes}}.</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button color="primary" [routerLink]="doc.search_path">
            <mat-icon>search</mat-icon>
            <label fxShow fxHide.sm fxHide.md>Αναζήτηση</label>
          </a>
          <a mat-button color="primary" [routerLink]="doc.addnew_path">
            <mat-icon>add_circle</mat-icon>
            <label fxShow fxHide.sm fxHide.md>Προσθήκη</label>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <!-- <mat-grid-tile>
      <mat-card class="action-card  mat-elevation-z6">
        <mat-card-content>
          <mat-card-title>
            Συνεργάτες
          </mat-card-title>
          <mat-icon class="size-64">contacts</mat-icon>
          <span mat-card-avatar class="folder-count-badge accent">
            <p class="folder-count">60</p>
          </span>
          <mat-card-subtitle>Ευρετήριο συνεργατών : πελάτες, προμηθευτές και επαφές.</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>
            <mat-icon>search</mat-icon> Αναζήτηση
          </button>
          <button mat-button>
            <mat-icon>add_circle</mat-icon> Προσθήκη
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="action-card  mat-elevation-z6">
        <mat-card-content>
          <mat-card-title>
            Power BI
          </mat-card-title>
          <mat-icon class="size-64 powerbi">insert_chart</mat-icon>
          <mat-card-subtitle>Go from data to insights in minutes.</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>
            <mat-icon>insert_chart</mat-icon> Ξεκινήστε εδώ!
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="action-card  mat-elevation-z6">
        <mat-card-content>
          <mat-card-title>
            Ιστορικό
          </mat-card-title>
          <mat-icon class="size-64">update</mat-icon>
          <mat-card-subtitle>Αναζητήστε στο ιστορικό ενεργειών.</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button routerLink="/app/history" routerLinkActive="active-route">
            <mat-icon>search</mat-icon> Αναζήτηση
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile> -->
    <mat-grid-tile>
      <mat-card class="action-card">
        <mat-card-header>
          <mat-card-title class="action-card-title">
            Ρυθμίσεις
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="min-height">
          <mat-icon class="size-128">settings</mat-icon>
          <mat-card-subtitle>Τα στοιχεία της επιχείρησης σας, τύποι παραστατικών και άλλες ρυθμίσεις.</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button color="primary" [routerLink]="subscription.settings_path" routerLinkActive="active-route">
            <mat-icon>settings</mat-icon>
            <label fxShow fxHide.sm fxHide.md>Ξεκινήστε εδώ!</label>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="action-card">
        <mat-card-header>
          <mat-card-title class="action-card-title">
            Πληροφορίες
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="min-height">
          <mat-icon class="size-128">bug_report</mat-icon>
          <mat-card-subtitle>Η έκδοση της εφαρμογής είναι δοκιμαστική.
            <br>API: {{api_url}}</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button color="primary" href="https://www.incontrl.io" target="__new">
            <mat-icon>forum</mat-icon>
            <label fxShow fxHide.sm fxHide.md>Επικοινωνήστε μαζί μας!</label>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <!-- <mat-grid-tile>
      <mat-card class="action-card  mat-elevation-z6">
        <mat-card-content>
          <mat-card-title>
            Εφαρμογές
          </mat-card-title>
          <mat-icon class="size-64">widgets</mat-icon>
          <mat-card-subtitle>Προσθήκη λειτουργικότητας και διασυνδέσεων</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button routerLink="/app/store" routerLinkActive="active-route">
            <mat-icon>widgets</mat-icon> Ξεκινήστε εδώ!
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile> -->
  </mat-grid-list>
</div>
