<md-toolbar class="view-header md-elevation-z6">
  <img md-card-avatar class="company-avatar" src="assets/images/indice-round.jpg" />
  <span class="title">&nbsp;INDICE</span>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <!-- <span class="caption">Δευτέρα 11/10/2017</span> -->
</md-toolbar>

<div class="view-content">
  <md-grid-list cols="5" rowHeight="280" gutterSize="5">
    <md-grid-tile>
      <md-card class="action-card">
        <md-card-content>
          <md-card-title>
            Τιμολόγια
          </md-card-title>
          <md-icon class="size-64">folder</md-icon>
          <span md-card-avatar class="folder-count-badge accent">
            <p class="folder-count">120</p>
          </span>
          <md-card-subtitle>ΤΠΥ: Τιμολόγια παροχής υπηρεσιών.</md-card-subtitle>
        </md-card-content>
        <md-card-actions>
          <button md-button>
            <md-icon>search</md-icon> Αναζήτηση
          </button>
          <button md-button>
            <md-icon>add_circle</md-icon> Προσθήκη
          </button>
        </md-card-actions>
      </md-card>
    </md-grid-tile>
    <md-grid-tile>
      <md-card class="action-card">
        <md-card-content>
          <md-card-title>
            Αποδείξεις
          </md-card-title>
          <md-icon class="size-64">folder</md-icon>
          <span md-card-avatar class="folder-count-badge accent">
            <p class="folder-count">80</p>
          </span>
          <md-card-subtitle>ΑΠΥ: Αποδείξεις παροχής υπηρεσιών.</md-card-subtitle>
        </md-card-content>
        <md-card-actions>
          <button md-button>
            <md-icon>search</md-icon> Αναζήτηση
          </button>
          <button md-button>
            <md-icon>add_circle</md-icon> Προσθήκη
          </button>
        </md-card-actions>
      </md-card>
    </md-grid-tile>
    <md-grid-tile>
      <md-card class="action-card">
        <md-card-content>
          <md-card-title>
            Συνεργάτες
          </md-card-title>
          <md-icon class="size-64">recent_actors</md-icon>
          <span md-card-avatar class="folder-count-badge accent">
            <p class="folder-count">60</p>
          </span>
          <md-card-subtitle>Ευρετήριο συνεργατών : πελάτες, προμηθευτές και επαφές.</md-card-subtitle>
        </md-card-content>
        <md-card-actions>
          <button md-button>
            <md-icon>search</md-icon> Αναζήτηση
          </button>
          <button md-button>
            <md-icon>add_circle</md-icon> Προσθήκη
          </button>
        </md-card-actions>
      </md-card>
    </md-grid-tile>
    <md-grid-tile>
      <md-card class="action-card">
        <md-card-content>
          <md-card-title>
            Power BI
          </md-card-title>
          <md-icon class="size-64 powerbi">insert_chart</md-icon>
          <md-card-subtitle>Go from data to insights in minutes.</md-card-subtitle>
        </md-card-content>
        <md-card-actions>
          <button md-button>
            <md-icon>insert_chart</md-icon> Ξεκινήστε εδώ!
          </button>
          </md-card-actions>
      </md-card>
    </md-grid-tile>
    <md-grid-tile>
      <md-card class="action-card">
        <md-card-content>
          <md-card-title>
            Ιστορικό
          </md-card-title>
          <md-icon class="size-64">update</md-icon>
          <md-card-subtitle>Αναζητήστε στο ιστορικό ενεργειών.</md-card-subtitle>
        </md-card-content>
        <md-card-actions>
          <button md-button>
            <md-icon>search</md-icon> Αναζήτηση
          </button>
        </md-card-actions>
      </md-card>
    </md-grid-tile>
    <md-grid-tile>
      <md-card class="action-card">
        <md-card-content>
          <md-card-title>
            Ρυθμίσεις
          </md-card-title>
          <md-icon class="size-64">settings</md-icon>
          <md-card-subtitle>Ρυθμίσεις του λογαριασμού σας</md-card-subtitle>
        </md-card-content>
        <md-card-actions>
          <button md-button>
            <md-icon>settings</md-icon> Ξεκινήστε εδώ!
          </button>
        </md-card-actions>
      </md-card>
    </md-grid-tile>
    <md-grid-tile>
        <md-card class="action-card">
          <md-card-content>
            <md-card-title>
              Εφαρμογές
            </md-card-title>
            <md-icon class="size-64">widgets</md-icon>
            <md-card-subtitle>Προσθήκη λειτουργικότητας και διασυνδέσεων</md-card-subtitle>
          </md-card-content>
          <md-card-actions>
            <button md-button>
              <md-icon>widgets</md-icon> Ξεκινήστε εδώ!
            </button>
          </md-card-actions>
        </md-card>
      </md-grid-tile>
  </md-grid-list>
</div>