<div *ngIf="model && model.plan">
  <mat-card>
    <mat-card-title>
      <label class="small">{{'settings.your-subscription' | translate}}</label>
      <span class="app-toolbar-filler"></span>
    </mat-card-title>
    <br>
    <mat-card-header>
      <img mat-card-avatar src="assets/images/incontrl_icon_transparent_white.png" class="icon-avatar-large mat-elevation-z3"
      />
      <mat-card-title>
        <h2>{{model.plan?.name}}</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>
        <br> {{model.plan?.description}}
        <br> {{model.plan?.richText}}
      </mat-card-subtitle>
    </mat-card-content>
  </mat-card>

  <br>

  <mat-grid-list [cols]="3" rowHeight="220" gutterSize="10">
    <mat-grid-tile *ngFor="let service of model.plan?.services; let i = index">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <strong>{{service.name}}</strong>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="min-height">
          <mat-icon color="primary" class="size-64">settings</mat-icon>
          <!-- <span mat-card-avatar class="folder-count-badge accent">
            <p class="folder-count">{{doc.count}}</p>
          </span> -->
          <!-- <img src="assets/images/donut.png" width="36px" height="36px"> -->
          <mat-card-subtitle>{{service.description}}.</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button>
            <label>{{'services.settings' | translate}}</label>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
