<mat-toolbar class="view-header">
  <span class="title">{{documentType?.folder}}</span>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
</mat-toolbar>

<div class="view-content">
  <mat-grid-list cols="4" rowHeight="300px" gutter="0">
    <mat-grid-tile *ngFor="let doc of documents">
      <mat-card fxFlexAlign="stretch" class="doc-card">
        <mat-card-header>
          <mat-card-title>
            <h3 *ngIf="doc.model.numberPrintable">{{doc.model.numberPrintable}}</h3>
            <h3 *ngIf="!doc.model.numberPrintable">{{doc.model.status}}</h3>
          </mat-card-title>
          <mat-card-title>{{doc.documentType.name}}</mat-card-title>
          <mat-card-title>ΣΥΝΟΛΟ: {{doc.model.total | currency:doc.model.currencyCode}}</mat-card-title>
          <mat-card-subtitle>ΠΛΗΡΩΤΕΟ: {{doc.model.totalPayable | currency:doc.model.currencyCode}}</mat-card-subtitle>
          <mat-card-subtitle>{{doc.model.date | date:'shortDate'}}</mat-card-subtitle>
          <mat-card-title>{{doc.model?.recipient?.organisation?.name}}</mat-card-title>
          <mat-card-subtitle>{{doc.model?.recipient?.contact?.displayName}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
          <a [href]="doc.portal_link" target="__new" mat-button>Προβολή</a>
          <button mat-button>Μεταβολή</button>
          <button disabled="doc.model.status=='Draft'" mat-button>Διαγραφή</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
