.doc-card {
  min-width: 250px;
  height: 220px;
  margin: 4px;
}

.mat-card-actions {
  padding: 0px;
}

.new-doc-button {
  width: 140px;
}

.mat-select.toolbar {
  max-width: 160px;
  font-size: 14px;
  vertical-align: middle;
}

.mat-button-toggle-label-content {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  padding: 0;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}

.mat-button-toggle-checked {
  background-color: #e0e0e0;
  color: primary;
}

.doc-info-panel {
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
  border-left: solid 1 whitesmoke;
  padding: 10px;
  padding-left: 20px;
  margin-top: -4px;
}

.preview-doc {
  border: 0;
  background: whitesmoke;
}

.wrap {
  padding: 0;
  width: 315px;
  height: 280px;
  overflow: hidden;
  float: left;
  margin-top: 4px;
  margin-bottom: 4px;
}

.frame {
  width: 1024px;
  height: 1280px;
  border: 0;
}

.frame {
  // zoom: 0.25;
  -moz-transform: scale(0.25);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.25);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.25);
  -webkit-transform-origin: 0 0;
  pointer-events: none;
}

.mat-card-header {
  height: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected-icon {
  color: green;
  opacity: 0.6;
  font-size: 24px;
  position: absolute;
}

.selected-item {
  width: 100%;
  height: 100%;
  background: black; // background: -moz-linear-gradient(top, rgba(251,123,132,0) 57%, rgba(251,123,132,1) 100%);
  // background: -webkit-linear-gradient(top, rgba(251,123,132,0) 57%,rgba(251,123,132,1) 100%);
  // background: linear-gradient(to bottom, rgba(251,123,132,0) 57%,rgba(251,123,132,1) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fb7b84', endColorstr='#fb7b84',GradientType=0 );
  // background: -moz-linear-gradient(top, rgba(251,123,132,1) 0%, rgba(251,123,132,0) 43%);
  // background: -webkit-linear-gradient(top, rgba(251,123,132,1) 0%,rgba(251,123,132,0) 43%);
  // background: linear-gradient(to bottom, rgba(251,123,132,1) 0%,rgba(251,123,132,0) 43%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb7b84', endColorstr='#00fb7b84',GradientType=0 );
  opacity: 0.1;
  position: absolute; // height: 80px;
  vertical-align: bottom;
  margin: -24px;
}

h1,
h2,
h3 {
  margin-top: 2px;
  margin-bottom: 4px;
}

.clickable-header {
  cursor: hand;
}

label.small {
  font-size: 12px;
}

.portal-link {
  width: 268px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
}

.mat-form-field {
  width: 260px;
  font-size: 14px;
}

.mat-paginator {
  background: none;
  padding: 0px;
}

.mat-chip.status-chip {
  position: absolute;
  left:80%;
}

.mat-chip.status-chip.Issued {
  background: cornflowerblue;
  color:white;
}

.mat-chip.status-chip.Paid {
  background: green;
  color:white;
}

.mat-chip.status-chip.Draft {
  background: darkblue;
  color:white;
}

.mat-chip.status-chip.Void {
  background: orangered;
  color:white;
}


label.status-label {
  margin-left:4px;
  margin-right:16px;
}
