<mat-toolbar class="view-header">
  <span class="title">{{documentType?.folder}}</span>
  <!-- This fills the remaining space of the current row -->
  <span class="app-toolbar-filler"></span>
  <span>
    <input class="search-input" matInput type="text" placeholder="Αναζήτηση" floatPlaceholder='none' maxlength="150">
    <button mat-icon-button>
      <mat-icon color="primary">search</mat-icon>
    </button>
  </span>
  <label class="divider">|</label>
  <mat-button-toggle-group [value]="viewmode">
    <mat-button-toggle color="primary" value="grid">
      <mat-icon>view_module</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle color="primary" value="list">
      <mat-icon>list</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <label class="divider">|</label>
  <button color="primary" (click)="add_new()" mat-button>NEO ΠΑΡΑΣΤΑΤΙΚΟ</button>
  <span class="app-toolbar-right-filler"></span>
</mat-toolbar>

<div class="view-content">
  <mat-grid-list *ngIf="!norecords && viewmode=='grid'" cols="4" rowHeight="300px" gutter="0">
    <mat-grid-tile *ngFor="let doc of documents">
      <mat-card fxFlexAlign="stretch" class="doc-card">
        <mat-card-header>
          <mat-card-title>
            <h3 *ngIf="doc.model.numberPrintable">{{doc.model.numberPrintable}}</h3>
            <h3 *ngIf="!doc.model.numberPrintable">{{doc.model.status}}</h3>
          </mat-card-title>
          <mat-card-title>{{doc.documentType.name}}</mat-card-title>
          <mat-card-title>ΣΥΝΟΛΟ: {{doc.model.total | currency:doc.model.currencyCode}}</mat-card-title>
          <mat-card-subtitle>ΠΛΗΡΩΤΕΟ: {{doc.model.totalPayable | currency:doc.model.currencyCode}}</mat-card-subtitle>
          <mat-card-subtitle>{{doc.model.date | date:'shortDate'}}</mat-card-subtitle>
          <mat-card-title>{{doc.model?.recipient?.organisation?.name}}</mat-card-title>
          <mat-card-subtitle>{{doc.model?.recipient?.contact?.displayName}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
          <a [href]="doc.portal_link" target="__new" mat-button>Προβολή</a>
          <button mat-button>Μεταβολή</button>
          <button disabled="doc.model.status=='Draft'" mat-button>Διαγραφή</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>


  <div class="no-records" fxLayout="column" fxLayoutAlign="center center" *ngIf="norecords">
    <label class="small">δεν βρέθηκαν έγγραφα.</label>
    <img src="assets/images/no-records.png" class="no-records">
    <button color="primary" (click)="add_new()" mat-button>
      <label class="small">ΞΕΚΙΝΗΣΤΕ ΕΔΩ!</label>
    </button>
  </div>
</div>
