<mat-card class="form-card">
  <mat-card-title>
    <label class="small">{{'contact.title' | translate}}</label>
    <span class="app-toolbar-filler"></span>
    <button *ngIf='readonly' color="primary" (click)="toggle_edit_mode()" mat-mini-fab>
      <mat-icon class="form-button-icon">edit</mat-icon>
    </button>
    <button *ngIf='!readonly' (click)="save()" mat-button color="primary">
      <label class="small">{{'actions.save' | translate}}</label>
    </button>
    <button *ngIf='!readonly' (click)="cancel()" mat-button color="warn">
      <label class="small">{{'actions.cancel' | translate}}</label>
    </button>
  </mat-card-title>
  <mat-card-content>
    <div class="form-container">
      <h3 *ngIf='readonly'>{{model.firstName}} {{model.lastName}}</h3>
      <mat-form-field *ngIf='!readonly'>
        <input matInput [readonly]='readonly' #firstName="ngModel" name="firstName" [(ngModel)]='model.firstName' 
        [placeholder]="'contact.fields.firstName' | translate"
          floatPlaceholder='auto' maxlength="150">
        <mat-hint align="end">{{firstName.value?.length || 0}}/150</mat-hint>
      </mat-form-field>

      <mat-form-field *ngIf='!readonly'>
        <input matInput [readonly]='readonly' #lastName="ngModel" name="lastName" [(ngModel)]='model.lastName' 
        [placeholder]="'contact.fields.lastName' | translate"
          floatPlaceholder='auto' maxlength="150">
        <mat-hint align="end">{{lastName.value?.length || 0}}/150</mat-hint>
      </mat-form-field>

      <label *ngIf='readonly'>{{model.email}}</label>
      <mat-form-field *ngIf='!readonly'>
        <input matInput="email" [readonly]='readonly' #contactemail="ngModel" name="contactemail" [(ngModel)]='model.email' 
        placeholder="Email"
          floatPlaceholder='auto' maxlength="150">
        <mat-hint align="end">{{contactemail.value?.length || 0}}/150</mat-hint>
      </mat-form-field>

      <label *ngIf='readonly'>{{model.phone1}}</label>
      <mat-form-field *ngIf='!readonly' class="short">
        <input matInput [readonly]='readonly' #phone1="ngModel" name="phone1" [(ngModel)]='model.phone1' 
        [placeholder]="'contact.fields.phone1' | translate"
          floatPlaceholder='auto' maxlength="150">
        <mat-hint align="end">{{phone1.value?.length || 0}}/150</mat-hint>
      </mat-form-field>

      <label *ngIf='readonly'>{{model.phone2}}</label>
      <mat-form-field *ngIf='!readonly' class="short">
        <input matInput [readonly]='readonly' #phone2="ngModel" name="phone2" [(ngModel)]='model.phone2' 
        [placeholder]="'contact.fields.phone2' | translate"
          floatPlaceholder='auto' maxlength="150">
        <mat-hint align="end">{{phone2.value?.length || 0}}/150</mat-hint>
      </mat-form-field>

      <label *ngIf='readonly'>skype: {{model.skype}}</label>
      <mat-form-field *ngIf='!readonly' class="short">
        <input matInput [readonly]='readonly' #skype="ngModel" name="skype" [(ngModel)]='model.skype' placeholder="Skype" floatPlaceholder='auto'
          maxlength="150">
        <mat-hint align="end">{{skype.value?.length || 0}}/150</mat-hint>
      </mat-form-field>

      <label *ngIf='readonly'>{{model.notes}}</label>
      <mat-form-field *ngIf='!readonly'>
        <textarea matInput [readonly]='readonly' #notes="ngModel" name="notes" [(ngModel)]='model.notes' 
        [placeholder]="'contact.fields.notes' | translate"
          floatPlaceholder='auto' maxlength="150"></textarea>
        <mat-hint align="end">{{notes.value?.length || 0}}/150</mat-hint>
      </mat-form-field>

    </div>
  </mat-card-content>
  <!-- address  -->
  <mat-card-title>
    <label class="small inline">{{'address.title' | translate}}</label>
  </mat-card-title>
  <mat-card-content>
    <div class="form-container">
      <label *ngIf='readonly && !model.address'>{{'address.no-address' | translate}}</label>
      <label *ngIf='readonly'>{{model.address.line1}}</label>
      <mat-form-field *ngIf='!readonly'>
        <input matInput [readonly]='readonly' #address1="ngModel" name="address1" [(ngModel)]='model.address.line1' 
        [placeholder]="'address.fields.line1' | translate"
          floatPlaceholder='auto' maxlength="150">
        <mat-hint align="end">{{address1.value?.length || 0}}/150</mat-hint>
      </mat-form-field>

      <label *ngIf='readonly'>{{model.address.line2}}</label>
      <mat-form-field *ngIf='!readonly'>
        <input matInput [readonly]='readonly' #address2="ngModel" name="address2" [(ngModel)]='model.address.line2' 
        [placeholder]="'address.fields.line2' | translate"
          floatPlaceholder='auto' maxlength="150">
        <mat-hint align="end">{{address2.value?.length || 0}}/150</mat-hint>
      </mat-form-field>

      <label *ngIf='readonly'>{{model.address.zipCode}}</label>
      <mat-form-field *ngIf='!readonly' class="short">
        <input matInput [readonly]='readonly' #zipCode="ngModel" name="zipCode" [(ngModel)]='model.address.zipCode' 
        [placeholder]="'address.fields.zipCode' | translate"
          floatPlaceholder='auto' maxlength="150">
        <mat-hint align="end">{{zipCode.value?.length || 0}}/150</mat-hint>
      </mat-form-field>

      <label *ngIf='readonly'>{{model.address.city}}</label>
      <mat-form-field *ngIf='!readonly'>
        <input matInput [readonly]='readonly' #city="ngModel" name="city" [(ngModel)]='model.address.city' 
        [placeholder]="'address.fields.city' | translate"
          floatPlaceholder='auto' maxlength="150">
        <mat-hint align="end">{{city.value?.length || 0}}/150</mat-hint>
      </mat-form-field>

      <!-- <label *ngIf='readonly'>{{model.address.countryCode}}</label>
      <mat-form-field *ngIf='!readonly' class="short" floatPlaceholder='auto' name="country" #country>
        <input matInput placeholder="Χώρα" [readonly]='readonly' [matAutocomplete]="countryAuto" 
          name="country" #country="ngModel" [(ngModel)]='model.address.countryCode'
          floatPlaceholder='auto' maxlength="150">
        <mat-autocomplete #countryAuto="matAutocomplete" [displayWith]="displayCountryFn">
          <mat-option *ngFor='let country of filteredCountries | async' [value]="country.id">{{country.description}}</mat-option>
        </mat-autocomplete>
      </mat-form-field> -->

      <label *ngIf='readonly'>{{model.address.countryCode}}</label>
      <mat-form-field *ngIf='!readonly' class="short" floatPlaceholder='auto' name="country" #country>
        <mat-select [disabled]='readonly' name="country" #currency="ngModel" [(ngModel)]='model.address.countryCode' 
        [placeholder]="'address.fields.country' | translate">
          <mat-option *ngFor='let country of countries' [value]="country.id">{{country.description}}</mat-option>
        </mat-select>
      </mat-form-field>


      <label *ngIf='readonly'>{{model.address.phone1}}</label>
      <mat-form-field *ngIf='!readonly' class="short">
        <input matInput [readonly]='readonly' #addressphone1="ngModel" name="addressphone1" [(ngModel)]='model.address.phone1' 
        [placeholder]="'address.fields.phone1' | translate"
          floatPlaceholder='auto' maxlength="150">
        <mat-hint align="end">{{addressphone1.value?.length || 0}}/150</mat-hint>
      </mat-form-field>

      <label *ngIf='readonly'>{{model.address.phone2}}</label>
      <mat-form-field *ngIf='!readonly' class="short">
        <input matInput [readonly]='readonly' #addressphone2="ngModel" name="addressphone2" [(ngModel)]='model.address.phone2' 
        [placeholder]="'address.fields.phone2' | translate"
          floatPlaceholder='auto' maxlength="150">
        <mat-hint align="end">{{addressphone2.value?.length || 0}}/150</mat-hint>
      </mat-form-field>

      <label *ngIf='readonly'>{{model.address.notes}}</label>
      <mat-form-field *ngIf='!readonly'>
        <textarea matInput [readonly]='readonly' #addressnotes="ngModel" name="addressnotes" [(ngModel)]='model.address.notes' 
        [placeholder]="'address.fields.notes' | translate"
          floatPlaceholder='auto' maxlength="500"></textarea>
        <mat-hint align="end">{{addressnotes.value?.length || 0}}/150</mat-hint>
      </mat-form-field>
    </div>

  </mat-card-content>
</mat-card>
