<mat-toolbar class="view-header  mat-elevation-z1">
  <span class="title">{{'settings.title' | translate}}</span>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
</mat-toolbar>

<div class="view-content" *ngIf="subscription && subscription.company">
  <mat-card class="action-card" fxShow fxHide.lt-lg fxFlex="20">
    <mat-card-header>
      <img mat-card-avatar [src]="subscription.companyLogo" class="avatar-large  mat-elevation-z3" />
      <mat-card-title>
        <strong>{{subscription.company.name}}</strong>
        <br /> {{subscription.company.legalName}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle><br>{{subscription.contact.firstName}} {{subscription.contact.lastName}}
        <br>{{subscription.contact.email}} </mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
      <a routerLink="subscription" routerLinkActive="active-route" mat-button>
        <mat-icon>assignment_ind</mat-icon>
        <label>{{'settings.your-subscription' | translate}}</label>
      </a><br>
      <a routerLink="company" routerLinkActive="active-route" mat-button>
        <mat-icon>business</mat-icon>
        <label>{{'settings.company-info' | translate}}</label>
      </a><br>
      <a routerLink="contact" routerLinkActive="active-route" mat-button>
        <mat-icon>person</mat-icon>
        <label>{{'settings.contact-info' | translate}}</label>
      </a><br>
      <a routerLink="document-types" routerLinkActive="active-route" mat-button>
        <mat-icon class="orange">folder</mat-icon>
        <label>{{'settings.document-types' | translate}}</label>
      </a><br>
      <a routerLink="taxes" routerLinkActive="active-route" mat-button>
        <mat-icon>playlist_add</mat-icon>
        <label>{{'settings.taxes' | translate}}</label>
      </a><br>
      <a routerLink="items" routerLinkActive="active-route" mat-button>
        <mat-icon>apps</mat-icon>
        <label>{{'settings.products-services' | translate}}</label>
      </a>
      <!-- malakia (allh mia :) -->
      <br/>
      <br/>
    </mat-card-actions>
  </mat-card>
  <div fxFlex="96">
    <router-outlet></router-outlet>
  </div>
</div>
