<mat-toolbar class="view-header">
  <span class="title">ΡΥΘΜΙΣΕΙΣ ΣΥΝΔΡΟΜΗΣ</span>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
</mat-toolbar>

<div class="view-content">
  <mat-card class="action-card" fxShow fxHide.lt-lg fxFlex="20">
    <mat-card-header>
      <img mat-card-avatar [src]="subscription.company.logoPath" class="avatar-large" />
      <mat-card-title>
        {{subscription.company.name}}
        <br /> 
        {{subscription.company.legalName}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>{{subscription.contact.firstName}} {{subscription.contact.lastName}} <br>{{subscription.contact.email}} </mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
      <a routerLink="company" routerLinkActive="active-route" mat-button color="primary">
        <mat-icon>business</mat-icon>
        <label>Στοιχεία Επιχείρησης</label>
      </a>
      <a routerLink="contact" routerLinkActive="active-route" mat-button color="primary">
        <mat-icon>person</mat-icon>
        <label>Στοιχεία Επικοινωνίας</label>
      </a>
      <a routerLink="document-types" routerLinkActive="active-route" mat-button color="primary">
        <mat-icon class="orange">folder</mat-icon>
        <label>Τύποι εγγράφων</label>
      </a>
      <a routerLink="items" routerLinkActive="active-route" mat-button color="primary">
        <mat-icon>apps</mat-icon>
        <label>Προϊόντα - Υπηρεσίες</label>
      </a>
      <!-- malakia, allh mia -->
      <br/><br/>
    </mat-card-actions>
  </mat-card>
  <div fxFlex="96">
    <router-outlet></router-outlet>
  </div>
</div>
