.mat-figure {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    display: flex;
    align-items: top;
    justify-content: center;
    height: 100%;
    padding: 0;
    padding-top: 0px;
    margin: 0;
}
