<mat-toolbar class="view-header  mat-elevation-z1">
  <span class="title">ΡΥΘΜΙΣΕΙΣ ΣΥΝΔΡΟΜΗΣ</span>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
</mat-toolbar>

<div class="view-content">
  <mat-card class="action-card" fxShow fxHide.lt-lg fxFlex="20">
    <mat-card-header>
      <img mat-card-avatar [src]="subscription.company.logoPath" class="avatar-large  mat-elevation-z6" />
      <mat-card-title>
        <strong>{{subscription.company.name}}</strong>
        <br /> {{subscription.company.legalName}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>{{subscription.contact.firstName}} {{subscription.contact.lastName}}
        <br>{{subscription.contact.email}} </mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
      <a routerLink="company" routerLinkActive="active-route" mat-button>
        <mat-icon>business</mat-icon>
        <label>Στοιχεία Επιχείρησης</label>
      </a>
      <a routerLink="contact" routerLinkActive="active-route" mat-button>
        <mat-icon>person</mat-icon>
        <label>Στοιχεία Επικοινωνίας</label>
      </a>
      <a routerLink="document-types" routerLinkActive="active-route" mat-button>
        <mat-icon class="orange">folder</mat-icon>
        <label>Τύποι εγγράφων</label>
      </a>
      <a routerLink="items" routerLinkActive="active-route" mat-button>
        <mat-icon>apps</mat-icon>
        <label>Προϊόντα - Υπηρεσίες</label>
      </a>
      <!-- malakia, allh mia -->
      <br/>
      <br/>
    </mat-card-actions>
    <mat-card-subtitle>
      Η συνδρομή σας
    </mat-card-subtitle>
    <mat-card-header>
      <img mat-card-avatar src="assets/images/incontrl_icon_transparent_white.png" class="avatar-icon mat-elevation-z6" />
      <mat-card-title>
        <strong>{{subscription.plan?.name}}</strong>
        <br>{{subscription.plan?.description}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- plan info -->
      <!-- name?: string | undefined;
      description?: string | undefined;
      richText?: string | undefined;
      uiHint?: UiHint | undefined;
      services?: Service[] | undefined;
      limits?: LimitPolicy[] | undefined; -->
      <mat-card-subtitle>
        {{subscription.plan?.richText}}
      </mat-card-subtitle>
      <mat-card-subtitle>
        <label>ΥΠΗΡΕΣΙΕΣ</label>
      </mat-card-subtitle>
      <mat-card-subtitle>
        <div *ngFor="let service of subscription.plan?.services; let i = index">
          {{service.name}}
        </div>
        <br>{{subscription.plan?.description}}
        <br>{{subscription.plan?.richText}}
      </mat-card-subtitle>
      <mat-card-subtitle>
        <div *ngFor="let policy of subscription.plan?.limits; let i = index">
          {{policy.name}}
        </div>
      </mat-card-subtitle>
    </mat-card-content>


  </mat-card>
  <div fxFlex="96">
    <router-outlet></router-outlet>
  </div>
</div>
