<mat-card class="list-card">
  <mat-card-title class="list-card-title">
    <label class="small">ΤΥΠΟΙ ΕΓΓΡΑΦΩΝ κ ΠΑΡΑΣΤΑΤΙΚΩΝ</label>
    <span class="app-toolbar-filler"></span>
    <button color="primary" (click)="add_new()" mat-button>
      <label class="small">ΠΡΟΣΘΗΚΗ</label>
    </button>
  </mat-card-title>
  <mat-card-content>
    <app-document-type-form (onDelete)='delete($event,i)' *ngFor="let doc of model.document_types | async; let i = index" [model]='doc.model'></app-document-type-form>
  </mat-card-content>
</mat-card>
