// https://blog.thoughtram.io/angular/2017/05/23/custom-themes-with-angular-material.html
@import '../node_modules/@angular/material/theming';
@include mat-core();

/* For use in src/lib/core/theming/_palette.scss */
// http://mcg.mbitson.com/
$mat-incontrl: (
    50 : #feecee,
    100 : #fed1d4,
    200 : #fdb2b7,
    300 : #fc939a,
    400 : #fb7b84,
    500 : #fa646e,
    600 : #f95c66,
    700 : #f9525b,
    800 : #f84851,
    900 : #f6363f,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd8d9,
    A700 : #ffbec1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$custom-theme-primary: mat-palette($mat-incontrl);
$custom-theme-accent: mat-palette($mat-orange, 900, 100, 400);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);
