/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
/* @import "~@angular/material/prebuilt-themes/purple-green.css"; */
/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";  */
/* @import '~@angular/material/_theming.scss'; */


/* https://blog.thoughtram.io/angular/2017/05/23/custom-themes-with-angular-material.html */

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

a.mat-list-item.route {
  color: White;
  opacity: 0.6;
}

a.mat-list-item.active-route {
  color: white;
  opacity: 1;
}

.mat-tab-label,
.mat-tab-link {
  color: #2F3137;
}

.view-header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9c784+0,fa646e+100 */
  // background: #2F3137;
  background: none;
  color: #2F3137;
  font-size: 20px;
  opacity: 0.8;
}

.view-content {
  padding: 10px;
}

md-icon.size-16 {
  width: 16px;
  height: 16px;
  line-height: 16px;
}

md-icon.size-24 {
  width: 24px;
  height: 24px;
  line-height: 24px;
}

md-icon.size-48 {
  width: 48px;
  height: 48px;
  line-height: 48px;
}

md-icon.size-64 {
  width: 64px;
  height: 64px;
  line-height: 64px;
  font-size: 64px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.mat-tab-group.mat-primary .mat-tab-label:focus,
.mat-tab-group.mat-primary .mat-tab-link:focus,
.mat-tab-nav-bar.mat-primary .mat-tab-label:focus,
.mat-tab-nav-bar.mat-primary .mat-tab-link:focus {
  background: #FA646E;
  color: white;
}

.mat-tab-header,
.mat-tab-nav-bar {
  border-bottom: 1px solid #FA646E;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #FA646E;
}

.splash-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  align-content: center;
  min-height: 800px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fa646e+0,f9c784+100 */
  background: #fa646e;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #fa646e 0%, #f9c784 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #fa646e 0%, #f9c784 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fa646e 0%, #f9c784 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa646e', endColorstr='#f9c784', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  color: white;
  text-align: center;
}

.splash-logo {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  height: 40px;
  color: white;
}
