<!-- based on the mozilla holy-grail layout  -->
<div class="app-container mat-app-background" [class.dark]="isDarkTheme">
  <jaspero-alerts [defaultSettings]="alertSettings"></jaspero-alerts>
  <div class="app-layout box" fxLayout="column">
    <header fxHide fxShow.lt-sm>
      <mat-toolbar class="shell-toolbar">
        <img class="icon" src="assets/images/incontrl_icon_transparent_white.png" />
        <img class="logo" src="assets/images/incontrl_logo_transparent_white.png" />
        <span class="app-toolbar-filler"></span>
        <!-- <button mat-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button> -->
        <!-- <span class="user-info">user@domain.com</span> -->
        <a mat-list-item (click)="toggleNav()">
            <mat-icon *ngIf="!showNav">menu</mat-icon>
            <img class="icon" *ngIf="showNav" src="assets/images/incontrl_icon_transparent_white.png" />
            <img class="logo" *ngIf="showNav" src="assets/images/incontrl_logo_transparent_white.png" />
          </a>
      </mat-toolbar>
    </header>
    <!-- https://material.io/icons/ -->
    <div id="main" #main fxLayout.xs="column" fxFlex>
      <nav fxShow fxHide.lt-sm #nav fxFlex="{{navSize}}" fxFlexOrder fxFlexOrder.xs="1">
        <mat-nav-list class="burger">
          <a mat-list-item (click)="toggleNav()">
            <mat-icon *ngIf="!showNav">menu</mat-icon>
            <img class="icon" *ngIf="showNav" src="assets/images/incontrl_icon_transparent_white.png" />
            <img class="logo" *ngIf="showNav" src="assets/images/incontrl_logo_transparent_white.png" />
          </a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive="active-route">
            <mat-icon>{{link.icon}}</mat-icon>
            <span *ngIf="showNav" class="nav-label">{{link.label}}</span>
          </a>
          <mat-divider class="nav-divider"></mat-divider>
          <a mat-list-item routerLink="/app/account" routerLinkActive="active-route">
            <img gravatar [email]="user.email" [size]="48" mat-card-avatar class="user-avatar" src="assets/images/indice-round.jpg" />
            <span *ngIf="showNav" class="nav-label">{{user.given_name}} {{user.family_name}}</span>
          </a>
        </mat-nav-list>
      </nav>
      <article #content fxFlex="*" fxFlexOrder fxFlexOrder.xs="2">
        <!-- Routed views go here -->
        <router-outlet></router-outlet>
      </article>
      <aside #aside *ngIf="showAside" fxFlex="20" fxFlexOrder fxFlexOrder.xs="3">
        <router-outlet name='app-aside-view'></router-outlet>
      </aside>
    </div>
    <!-- <footer>
      <mat-toolbar>INDICE</mat-toolbar>
    </footer> -->
  </div>
</div>
