<!-- based on the mozilla holy-grail layout  -->
<div class="app-container mat-app-background" [class.dark]="isDarkTheme">
  <div class="app-layout box" fxLayout="column">
    <!-- <header>
      <mat-toolbar class="shell-toolbar">
        <img class="icon" src="assets/images/incontrl_icon_transparent_white.png" />
        <img class="logo" src="assets/images/incontrl_logo_transparent_white.png" />
        <span class="app-toolbar-filler"></span>
        <button mat-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
        <span class="user-info">user@domain.com</span>
      </mat-toolbar>
    </header> -->
    <!-- https://material.io/icons/ -->
    <div id="main" #main fxLayout.xs="column" fxFlex>
      <nav #nav fxFlex="{{navSize}}" fxFlexOrder fxFlexOrder.xs="1">
        <mat-nav-list class="burger">
          <a mat-list-item (click)="toggleNav()">
            <mat-icon *ngIf="!showNav">menu</mat-icon>
            <img class="logo" *ngIf="showNav" src="assets/images/incontrl_logo_transparent_white.png" />
          </a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLink="/app/" routerLinkActive="active-route">
            <mat-icon>home</mat-icon>
            <span *ngIf="showNav" class="nav-label">Η εταιρεία μου</span>
          </a>
          <a mat-list-item routerLink="/app/documents" routerLinkActive="active-route">
            <mat-icon>folder</mat-icon>
            <span *ngIf="showNav" class="nav-label">Έγγραφα</span>
          </a>
          <a mat-list-item routerLink="/app/settings" routerLinkActive="active-route">
            <mat-icon>settings</mat-icon>
            <span *ngIf="showNav" class="nav-label">Ρυθμίσεις</span>
          </a>
          <a mat-list-item routerLink="/app/store" routerLinkActive="active-route">
            <mat-icon>widgets</mat-icon>
            <span *ngIf="showNav" class="nav-label">Εφαρμογές</span>
          </a>
        </mat-nav-list>
      </nav>
      <article #content fxFlex="*" fxFlexOrder fxFlexOrder.xs="2">
        <!-- Routed views go here -->
        <router-outlet></router-outlet>
      </article>
      <aside #aside *ngIf="showAside" fxFlex="20" fxFlexOrder fxFlexOrder.xs="3">
        <router-outlet name='app-aside-view'></router-outlet>
      </aside>
    </div>
    <!-- <footer>
      <mat-toolbar>INDICE</mat-toolbar>
    </footer> -->
  </div>
</div>
