.logo {
    height: 20px;
    //padding-left: 8px;
}

.burger {
    padding:0px;
}

.icon {
    height: 30px;
    padding-left: 4px;
    padding-right: 10px;
}

.user-info {
    font-size: 14px;
}

.app-container, .app-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 800px;
    background: whitesmoke;
}

.app-container.dark {
    background: black;
    color:white;
  }

nav, aside {
    padding-top: 6px;
    padding-left:4px;
    padding-right: 4px;
    background: #FA646E;
}


article {
    padding: 0px;
}
    
article.mat-toolbar {
    padding: 0px;
}

#main > article {
    background:white;
}

#main > aside {
    background:whitesmoke;
}

.nav-label {
    padding-left: 8px;
}

// #main > nav, #main > aside {
//     /* border-color: #8888bb; */
// }
    
    
// header, footer {
//     /* border-color: #eebb55; */
//     // background: #ffeebb;
// }


.shell-toolbar {
     background-color: #FA646E;
    
}