<mat-card class="document-type-card-form">
  <mat-card-title>
    <label class="small">ΚΑΤΗΓΟΡΙΑ ΦΟΡΟΥ</label>
    <span class="app-toolbar-filler"></span>
    <button *ngIf='readonly' color="primary" (click)="toggle_edit_mode()" mat-mini-fab>
      <mat-icon class="form-button-icon">edit</mat-icon>
    </button>
    <button *ngIf='readonly && !isnew()' color="warn" (click)="delete()" mat-mini-fab>
      <mat-icon class="form-button-icon">delete_forever</mat-icon>
    </button>
    <button *ngIf='!readonly' (click)="save()" mat-button color="primary">
      <label class="small">ΑΠΟΘΗΚΕΥΣΗ</label>
    </button>
    <button *ngIf='!readonly' (click)="cancel()" mat-button color="warn">
      <label class="small">ΑΚΥΡΩΣΗ</label>
    </button>
  </mat-card-title>
  <mat-card-content>
    <div class="form-container">
      <h3 *ngIf='readonly'>{{model.name}}</h3>
      <mat-form-field *ngIf='!readonly' class="shorter">
        <input matInput [readonly]='readonly' #name="ngModel" name="name" [(ngModel)]='model.name' placeholder="Ονομασία" floatPlaceholder='auto'
          maxlength="150">
        <mat-hint *ngIf='!readonly' align="end">{{name.value?.length || 0}}/150</mat-hint>
      </mat-form-field>

      <label *ngIf='readonly'>Τύπος: {{getTaxType(model.code)}}</label>
      <mat-form-field *ngIf='!readonly' class="shorter list">
        <mat-select [(value)]="model.code" placeholder="Τύπος φόρου" floatPlaceholder='auto'>
          <mat-option value="VAT">ΦΠΑ</mat-option>
          <mat-option value="DEDUCTABLE">Κρατήσεις, εισφορές, κτλ</mat-option>
          <mat-option value="OTHER">Άλλο</mat-option>
        </mat-select>
      </mat-form-field>

      <label *ngIf='readonly'>Ποσοστό: {{model.rate}}%</label>
      <mat-form-field *ngIf='!readonly' class="shorter">
        <input matInput type="number" [readonly]='readonly' #rate="ngModel" name="rate" [(ngModel)]='model.rate' placeholder="Ποσοστό"
          floatPlaceholder='auto' maxlength="150">
        <mat-hint align="end">Χρησιμοποιήστε αρνητικά ποσοστά για τις κρατήσεις, παρακρατήσεις, εισφορές, χαρτόσημα κτλ</mat-hint>
      </mat-form-field>

    </div>
  </mat-card-content>




</mat-card>
