<mat-card class="list-card" *ngIf="!norecords">
  <mat-card-title class="list-card-title">
    <label class="small">{{'taxes.title' | translate}}</label>
    <span class="app-toolbar-filler"></span>
    <button color="primary" (click)="add_new()" mat-button>
      <label class="small">{{'actions.add' | translate}}</label>
    </button>
  </mat-card-title>
  <mat-card-content>
    <app-tax-form (onDelete)='delete($event,i)' *ngFor="let item of items; let i = index" [model]='item'></app-tax-form>
  </mat-card-content>
</mat-card>

<div fxLayout="row" fxLayoutAlign="center center" *ngIf="norecords">
  <mat-card class="no-records-card">
    <mat-card-content fxLayout="column" fxLayoutAlign="center stretch">
      <mat-card-title fxLayoutAlign="center center">
        <label class="small">{{'taxes.no-records' | translate}}</label>
      </mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutAlign="center center">
        <img src="assets/images/no-records.png" class="no-records">
        <button color="primary" (click)="add_new()" mat-button>
          <label class="small">{{'actions.start-here' | translate}}</label>
        </button>
      </mat-card-content>
    </mat-card-content>
  </mat-card>
</div>
